# Visual Studio hidden files
.vs/
*.user
*.suo
*.VC.db

# Build results
bin/
obj/
build/
dist/

# Firebase
firebase.json
.firebaserc
.firebase/
*.emulator-debug.log

# Node.js
node_modules/
.env
package-lock.json
npm-debug.log

# System junk
.DS_Store
Thumbs.db

# Log files
*.log
